/*.docx
/UnrealProj/SourceCode/AutoHero/.vs
/UnrealProj/SourceCode/AutoHero/Binaries
/UnrealProj/SourceCode/AutoHero/DerivedDataCache
/UnrealProj/SourceCode/AutoHero/Intermediate
/UnrealProj/SourceCode/AutoHero/Saved
/UnrealProj/SourceCode/AutoHero/.vsconfig
/AutoHero/AutoHero.sln
/AutoHero/.vs
/AutoHero/Binaries
/AutoHero/DerivedDataCache
/AutoHero/Intermediate
/AutoHero/Saved
/AutoHero/.vsconfig
/AutoHero/.idea
