/*.docx
/UnrealProj/SourceCode/AutoHero/.vs
/UnrealProj/SourceCode/AutoHero/Binaries
/UnrealProj/SourceCode/AutoHero/DerivedDataCache
/UnrealProj/SourceCode/AutoHero/Intermediate
/UnrealProj/SourceCode/AutoHero/Saved
/UnrealProj/SourceCode/AutoHero/.vsconfig
